 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
 * {
     /*background-color: #f0c6c6;
    opacity: 0.5;font-family: 'Noto Serif', serif;font-family: 'Grenze Gotisch', cursive;
    font-family: 'Dancing Script', cursive;*/
     font-family: 'Cinzel', serif;
     font-size: 20px;
 }
 
 h1 {
     text-align: left;
     font-size: 1.5em;
 }
 
 nav {
     background-color: black;
     float: left;
     width: 25vw;
     height: 100vh;
     position: fixed;
     overflow: hidden;
     padding: 20px;
 }
 
 body {
     margin: 0;
     height: 100vh;
     background-image: url(../img/rosa.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }
 
 a,
 a:hover,
 h1 {
     text-decoration-line: none;
     color: white;
 }
 
 ditails,
 summary {
     text-decoration-line: none;
     color: white;
 }