@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto&family=Roboto+Slab&display=swap');

/* selector universal
*{ color: blue;
}*/


/* Selectores de etiqueta*/

h2 {
    /*color: green;*/
    font-family: 'Roboto Slab', sans serif;
}

h1,
h3,
h4 {
    color: blue;
}


/* Selectores de clase*/

.rojo {
    color: red;
    font-size: 32px;
    font-weight: 800;
}


/* Selectores tipo ID*/

#subtitulo {
    background-color: yellow;
}

.italic {
    font-style: italic;
}


/* Fonts
font-family: 'Balsamiq Sans', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

.color {
    color: rgb(45, 255, 153);
}

h3 {
    color: rgba(109, 45, 255, 0.8);
}

h4 {
    color: hsl(295, 82%, 59%);
}

.parrafouno {
    font-size: 1em;
}