html {
    font-size: 35px;
    margin: 10px;
}

.flex-container {
    width: 88vw;
    height: 100vh;
    background-color: #fcf6f9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-item {
    width: 21vw;
    height: 44vh;
    background-color: red;
    color: yellow;
}

.flex-item2 {
    width: 21vw;
    height: 44vh;
    background-color: black;
    color: white;
}

.flex-item3 {
    width: 21vw;
    height: 44vh;
    background-color: red;
    color: yellow;
}

.flex-item4 {
    width: 21vw;
    height: 44vh;
    background-color: red;
    color: yellow;
}