    /*h1 {
    color: red!important;
}
*/
    
    h1 {
        color: green;
    }
    
    h1 {
        color: blue;
    }
    
    #titulo {
        color: pink;
        /*ID, class y  Etiquetas*/
    }
    /* .title {
        color: red;
    }*/